* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    align-items: center;
    margin: 25px 0;
    display: flex;
    border: none;
    flex-direction: column;
}

header > h1 {
    text-shadow: 4px 3px 3px lightgray;
    font-size: 50px;
    font-family: cursive;
    font-style: italic;
    font-weight: normal;
    text-align: center;
}

header h2 {
    background-color: white;
    text-align: center;
    border: 2px solid black;
    border-top: 0;
    border-radius: 0 0 15px 15px;
    padding:5px 0;
    font-family: cursive;
    font-size: 25px;
    width: 85%;
}

header > .container {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

header .container_menu {
    display: flex;
    justify-content: center;
    padding: 15px 0 15px;
}

header .container_menu > .box {
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 8px 10px black;
    background-color: rgb(29, 94, 214);
    color: white;
    margin: 0 5px;
    text-align: center;
    width: 125px;
}

header .container_banner {
    border: 2px solid black;
    border-bottom:  0;
    border-radius: 15px 15px 0 0;
    width: 85%;
    height: 200px;
}

header .container_banner > img {
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 200px;
}

header .container #activo_box {
    background-color:rgb(23, 184, 37) ;
    
}

header .container a {
    color: white;
    font-size: 26px;
    margin: 0 5px;
    padding: 0 15px;
    text-decoration: none;
}

/* Main  */

.seccion {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 65px;    
}

.seccion > h2 {
    font-family: cursive;
    font-size: 22px;
}

.seccion > .seccion_lista {
    display: inline-block;
    font-family: cursive;    
    font-size: 1.1em;
    font-style: italic;
    list-style: none;
}

.seccion dt {
    font-weight: bold;
}

.seccion dd {
    text-indent: 25px;
    margin-bottom: 2rem;
}

.seccion > .seccion_about {
    display: inline-block;
    font-family: cursive;    
    font-size: 1.1em;
    font-style: italic;
    width: 43%;
    position: relative;
    top: -20px;
}

.seccion > .seccion_contact {
    display: inline-block;
    font-family: cursive;    
    font-size: 1.2em;
    font-style: italic;
    width: 43%;
}

.seccion > .seccion_about p {
    font-size: 18px;
    font-family: cursive;
    margin: 3px 0 15px;
    text-indent: 25px;
}

.seccion img {
    border-radius: 15px;
    display: inline-block;
    width: 56%;
    height: 100%;
    margin-bottom: 40px;
}

.rules {
    margin: 0 115px;
}

.rules > #h2_1, #p1 {
    text-align: center;
}

.rules > h2 {
    margin: 35px 0 5px;
    text-align: left;
}

.rules h3 {
    display: inline-block;
}

.rules p, li {
    font-size: 1.5em;
}

.rules > .items1 {
    list-style-type: decimal;
    margin: 15px;
}

.rules > .items1 > li {
    margin: 15px 0;
}

.rules .items2 {
    list-style-type: lower-alpha;
    font-size: 1.1rem;
}

.rules > .tab {
    text-indent: 25px;
}

.rules > ul {
    list-style: circle;
    list-style-position: inside;
    padding: 0 100px;
}

/* ---------------- */

.info {
    display: flex;
    flex-direction: column;
}

.info > h1 {
    font-family:'Times New Roman', Times, serif;
    font-size: 2.2em;
    text-align: right;
    padding: 0 90px;
    width: 85%;
}

.info > h3, h4 {
    font-size: 1.3em;
    margin: 10px 200px;
    font-style: italic;
}

.info > h4 {
    text-decoration: underline;
}

.info > .info_table {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info table {
    font-size: 1.2em;
    width: 70%;
}

.info thead {
    padding-left: 20px;
    text-align: left;
}

.info th, td { 
     padding: 5px 0;    
 }


.info thead th {
    text-align: left;
    padding-left: 10px;
}

.info .der {
    text-align: center;
}

.info_2 {
    margin: 3em 8em;
}

.info_2 > .prfos {
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
}

.info_2 > dl {
    display: inline-block;
    font-size: 1.2em;
}

.info dt {
    font-weight: bold;
    display: inline-block;
}

.info dd {
    display: inline-block;
    margin: 1em 0;
}