* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    align-items: center;
    margin: 25px 0;
    display: flex;
    border: none;
    flex-direction: column;
}

header > h1 {
    text-shadow: 4px 3px 3px lightgray;
    font-size: 50px;
    font-family: cursive;
    font-style: italic;
    font-weight: normal;
    text-align: center;
}

header h2 {
    background-color: white;
    text-align: center;
    border: 2px solid black;
    border-top: 0;
    border-radius: 0 0 15px 15px;
    padding:5px 0;
    font-family: cursive;
    font-size: 25px;
    width: 85%;
}

header > .container {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

header .container_menu {
    display: flex;
    justify-content: center;
    padding: 15px 0 15px;
}

header .container_menu > .box {
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 8px 10px black;
    background-color: rgb(29, 94, 214);
    color: white;
    margin: 0 5px;
    text-align: center;
    /* width: 125px; */
    font-size: 1.3rem;
    width: 12vw;
    /* height: 3vw; */
}

header .container_banner {
    border: 2px solid black;
    border-bottom:  0;
    border-radius: 15px 15px 0 0;
    width: 85%;
    height: 200px;
}

header .container_banner > img {
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 200px;
}

header .container #activo_box {
    background-color:rgb(23, 184, 37) ;
    
}

header .container a {
    color: white;
    font-size: 26px;
    margin: 0 5px;
    padding: 0 15px;
    text-decoration: none;
}

/* Main  */

.seccion {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 65px;    
}

.seccion > h2 {
    font-family: cursive;
    font-size: 22px;
}

.seccion > .seccion_lista {
    display: inline-block;
    font-family: cursive;    
    font-size: 1.1em;
    font-style: italic;
    list-style: none;
}

.seccion dt {
    font-weight: bold;
}

.seccion dd {
    text-indent: 25px;
    margin-bottom: 2rem;
}

.seccion > .seccion_about {
    display: inline-block;
    font-family: cursive;    
    font-size: 1.1em;
    font-style: italic;
    width: 43%;
    position: relative;
    top: -20px;
}

.seccion > .seccion_contact {
    display: inline-block;
    font-family: cursive;    
    font-size: 1.2em;
    font-style: italic;
    width: 43%;
}

.seccion > .seccion_about p {
    font-size: 18px;
    font-family: cursive;
    margin: 3px 0 15px;
    text-indent: 25px;
}

.seccion img {
    border-radius: 15px;
    display: inline-block;
    width: 56%;
    height: 100%;
    margin-bottom: 40px;
}

.rules {
    margin: 0 115px;
}

.rules > #h2_1, #p1 {
    text-align: center;
}

.rules > h2 {
    margin: 35px 0 5px;
    text-align: left;
}

.rules h3 {
    display: inline-block;
}

.rules p, li {
    font-size: 1.5em;
}

.rules > .items1 {
    list-style-type: decimal;
    margin: 15px;
}

.rules > .items1 > li {
    margin: 15px 0;
}

.rules .items2 {
    list-style-type: lower-alpha;
    font-size: 1.1rem;
}

.rules > .tab {
    text-indent: 25px;
}

.rules > ul {
    list-style: circle;
    list-style-position: inside;
    padding: 0 100px;
}

/* ---------------- */

.info {
    display: flex;
    flex-direction: column;
}

.info > h1 {
    font-family:'Times New Roman', Times, serif;
    font-size: 2.2em;
    text-align: right;
    padding: 0 90px;
    width: 85%;
}

.info > h3, h4 {
    font-size: 1.3em;
    margin: 10px 200px;
    font-style: italic;
}

.info > h4 {
    text-decoration: underline;
}

.info > .info_table {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info table {
    font-size: 1.2em;
}

.info thead {
    padding-left: 20px;
    text-align: left;
}

.info th, td { 
     padding: 5px 0;    
 }


.info thead th {
    text-align: left;
    padding-left: 10px;
}

.info .der {
    text-align: center;
}

.info_2 {
    margin: 3em 8em;
}

.info_2 > .prfos {
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
}

.info_2 > dl {
    display: inline-block;
    font-size: 1.2em;
}

.info dt {
    font-weight: bold;
    display: inline-block;
}

.info dd {
    display: inline-block;
    margin: 1em 0;
}

.info .mapas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 3rem;
}

.info .site {
    display: flex;
    margin-top: 2rem;
    flex-direction: column;
    text-align: center;
}

/* ------------ Formulario ------------- */

.registro {
    margin: 3rem;
    font-size: 1.2em;
}

.registro h1 {
    text-align: center;
}

.formulario {
    display: flex;
    flex-direction: column;
}

fieldset input {
    border: none;
    border-bottom: 1px solid black;
}

fieldset#personal label {
    margin-top: 15px;
}

fieldset#personal > input{
    margin: 25px 40px 0 0;
    width: 34%;
}

fieldset#personal > .nac_gen input {
    border: none;
    border-bottom: 1px solid black;
    
}

fieldset#personal > #direccion {
    width:83%;
}


fieldset {
    border: none;
    margin-bottom: 3rem;
    margin-left: 40px;
}

fieldset .nac_gen {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

fieldset #nacimiento {
    width: 335px;
}

fieldset#personal #ciudad {
    width: 40%;
}

fieldset#personal .gen {
    display: flex;
    align-items: baseline;
    margin-left: 60px;
}


fieldset#personal .edu {
    display: flex;
    align-items: baseline;
    margin-top: 10px;
}

fieldset#personal .edu input {
    margin-left: 30px;
    margin-right: 0;
}

fieldset #ch1, #ch2, #ch3, #ch4, #ch5{
    vertical-align: super;
}

fieldset#near_school legend {
    margin-bottom:0.5em;
}

fieldset#near_school #school {
    font-weight: bold;
}

fieldset#near_school .school {
    display: flex;
    flex-wrap: wrap;
}

fieldset#near_school label {
    display: flex;
    flex-direction: row;
}

fieldset#near_school .school label {
    width: 45%;
}

fieldset#near_school .school input {
    margin-right: 0;
}

fieldset#near_school .school span {
    margin-right: 20px;
}


fieldset#position .posi {
    display: flex;
    flex-wrap: wrap;
    width: 365px;
}

fieldset#position .posi label {
    width: 35%;
}

fieldset#position .posi input {
    margin-right: 0;
}

fieldset#position .posi span {
    margin-right: 20px;
}



fieldset#uniforms .uniforme {
    display: flex;
    flex-wrap: wrap;
}

fieldset#uniforms .uniforme label {
    width: 48%;
}

fieldset#uniforms .uniforme input {
    margin-right: 0;
}

fieldset#uniforms .uniforme span {
    margin-right: 20px;
}


fieldset#permission .permis {
    text-indent: 0;
}

fieldset#permission textarea {
    width: 100%;
}

fieldset#permission .auth {
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
    width: 54%;
}

fieldset#permission .auth input {
    margin: 15px;
}

fieldset#permission .auth #fecha_actual {
    width: 350px;
}

fieldset legend {
    font-weight: bold;
    font-size: 1.2em;
}


fieldset#bottom input {
    border: 1px solid darkgray;
    padding: 10px;
    width: 100px;
}



/* ----------      Tabla         --------- */
h1 {
    font-size: 2.5em;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 80%;
}


table thead th:first-child {
    text-align: center;
    padding-right: 3rem;
}

td,th {
    /* border: 4px solid #ccc; */
    text-align: left;
    padding: 8px;
  }

/* ---------     Media Query       --------- */

@media only screen and (min-width:320px) and (max-width:767px) {
header > h1 {
    font-size: 2rem;
}

    header .container_menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 15px 0 15px;
    }

    header .container_menu > .box {
        border-radius: 50%;
        margin-top: 1rem;
        text-align: center;
        width: 300px;
    }


    .seccion {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 0 25px;    
    }
    
    .seccion > .seccion_lista {
        display: inline-block;
        font-family: cursive;    
        font-size: 1.1em;
        font-style: italic;
        list-style: none;
    }

    .seccion img {
        border-radius: 15px;
        width: 90%;
        height: 100%;
    }


    .seccion > .seccion_about {
        width: 85%;
    }


    .seccion > .seccion_contact {
        margin-bottom: 1rem;
        text-align: center;
        width: 85%;
    }


    .rules {
        margin: 0 40px 40px;
    }

    .rules > ul {
        list-style: circle;
        list-style-position: inside;
        padding: 0 20px;
    }

    .rules p, li {
        font-size: 1.2em;
    }

    .rules h3 {
        display: block;
        font-size: 1.2rem;
    }

    .rules .items2 li {
        list-style-type: lower-alpha;
        font-size: 1.2rem;
        margin: 10px 0;
    }


    .info > h1 {
        font-family:'Times New Roman', Times, serif;
        font-size: 1.5rem;
        text-align: center;
        padding: 0;
        width: 100%;
    }

    .info > h3, h4 {
        font-size: 1.3em;
        margin: 10px 50px;
        font-style: italic;
    }

    .info table {
        font-size: 1.1em;
        width: 100%;
    }

    .info .mapas iframe {
        width: 480px;
        height: 400px;
    }


    .info_2 {
        margin: 3em 1em;
    }

    .info_2 > .prfos {
        display: flex;
        flex-wrap: wrap;
        font-size: 1.2em;
    }
    
    .registro {
        margin: 0.5rem;
        font-size: 1.2em;
    }

    fieldset#personal {
        border: none;
        display: flex;
        flex-direction: column;
        margin-bottom: 3rem;
        margin-left: 10px;
    }

    fieldset#personal .nac_gen {
        display: flex;
        flex-direction: column;
    }

    fieldset#personal .gen {
        display: flex;
        margin: 15px 0 0 0;
        width: 70%;
    }

    fieldset#personal label {
        width: 90%;
    }

    fieldset#personal > input {
        width: 75%;
        margin: 0 0 15px;
    }

    fieldset#personal .edu {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    fieldset#personal .edu input {
        margin-left: 15px;
        margin-right: 0;
    }

    fieldset#permission {
        margin-left: 15px;
    }

    fieldset#permission textarea {
        width: 95%;
    }

    fieldset#permission .auth {
        width: 90%;
        margin: 5px 0;
    }

    fieldset#permission .auth input {
        margin: 15px 0;
        width: 95%;
    }

    fieldset#permission .auth label {
        width: 90%;
    }

}